<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [11]:
x=40
# make x have the value of 40
y=x+2
# add 2 to x. THEN make y=42
print(y)
# define the values first then print the variable you want a calculated value for

42

In [13]:
y=40
# make y have the value of 40
y=y+2
# add 2 to y (get 42). THEN make y=42
print(y)

42

### 1.2 Shorter and cleaner

In [14]:
y=40
y+=2 # same as y=y+2
y
# python automatically prints the last line if no function is specified
# shorthand also works for y-=2   y/=2   y*=2

42

### 1.3 Asking questions

In [10]:
fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]

print("apple" in fruits)
print("peach" in fruits)
print("peach" not in fruits)
print(("apple" in fruits) and ("celery" in vegetables))
# both must be true
print(("apple" in fruits) or ("celery" in vegetables))
# only one needs to be true

True
False
True
True
True

In [16]:
print(5+4==9)
# 5=9 will not work because a number cannot take on the value of another number
print(5!=4)
# 5â‰ 4
print(5<10)
print(5>4)
print(5<=10)
print(5>=4)

True
True
True
True
True
True

In [8]:
'apples'>'oranges'
# letters are internally represented as numbers

False

### 1.4 There is more to if

In [29]:
name='R'
if name=='Batman':
    print('Hello hero | Batman!')
elif name=='Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')

    # must use == and not =, or else will get invalid syntax

Hello World!

### 1.5 Python stores information in different formats or types.

In [46]:
import math

In [59]:
x=1.234
x=int(1.234)
print(x,type(x))
# type(x) will give 'int'
#type means typecasting, x has been cast into the type int

x=str(1.234)
print(x,type(x))
# stores as english word (string)
# useful when you may want to print '1234' as eg.'1-2-3-4'. the number needs to be in string(english) form for the function to work

x=float(1.234)
print(x,type(x))
# stores as decimal number

x=complex(1.234)
print(x,type(x))
# includes imaginary portions of the number

x=(np.sqrt(-1+0j))
print(x,type(x))
# to print complex numbers, must use the a+bj format
# np works, math doesn't

1 <class 'int'>
1.234 <class 'str'>
1.234 <class 'float'>
(1.234+0j) <class 'complex'>
1j <class 'numpy.complex128'>

### 1.6 Combining English and variables

In [62]:
name='Batman'
print(f"Hello {name}!")

print(f"Hello {name.upper()}!")

Hello Batman!
Hello BATMAN!

In [63]:
x=10
print(f"The value of {x} squared is {x**2}!")

The value of 10 squared is 100!

In [81]:
text='Bruce Wayne is Batman.'
print(f'{text}')
print(f'{text:>30}')
# align text 30 ?? to the right

print(f'{text:^30}')
# centre align

print(f'{text:<30}')
# align text 30 ?? to the left

Bruce Wayne is Batman.
        Bruce Wayne is Batman.
    Bruce Wayne is Batman.
Bruce Wayne is Batman.

In [115]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6}')
# np.pi - the function of pi from numpy package
# np.pi**3 - cube of pi
# : - present as
# .6 - six significant figures
# if you don't put the '.' there will be no error, python seems to disregard anything after the colon

print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')
# .6f - six decimal places

print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')
# .6e - six decimal places AND display in scientific notation

The cube of pi to 6 decimal places is 31.0063
The cube of pi to 6 decimal places is 31.006277
The cube of pi to 6 decimal places is 3.100628e+01

In [124]:
print(f'the cube of pi to 6 decimal places is {np.pi**3:>030.6}')
# right align by 30 and fill the spaces with 0s

the cube of pi to 6 decimal places is 0000000000000000000000031.0063

### 1.7 Python can be a prima-donna.

In [ ]:

# Your code here

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

# Your code here

### 2.2 Getting help.

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Exercise 1 :  Bias for some heroes

In [29]:
def hello(name):
    if name=="Batman":
        print("HELLO BATMAN!")
    elif name=="Black Widow":
        print("HELLO BLACK WIDOW!")
    else:
        print(f"hello {name.lower()}")
hello('Black Widow')
hello('Aqua Man')

# is this what the question wants?
# print (hello(name)) does not work but why

HELLO BLACK WIDOW!
hello aqua man

In [46]:
def hello(name):
    if name=="Batman" or name=="Black Widow":
        print(f"HELLO {name.upper()}!")
    else:
        print(f"hello {name.lower()}")

hello('Batman')
hello('Black Widow')
hello('Aqua Man')

# if name=="Batman"or"Black Widow": does not work, but why?

HELLO BATMAN!
HELLO BLACK WIDOW!
hello aqua man

In [2]:
def hello(name):
    if name in("Batman","Black Widow"):
        print(f"HELLO {name.upper()}!")
    else:
        print(f"hello {name.lower()}")

hello('Batman')
hello('Black Widow')
hello('Aqua Man')

# method courtesy of Hua En to overcome the if name=="Batman"or"Black Widow" problem
# but dont really understand how the in operator works

HELLO BATMAN!
HELLO BLACK WIDOW!
hello aqua man

## Exercise 2 :  Bias for some heroes, continues

In [20]:
def hello(name):
    if name.lower()=="batman" or name.upper()=="BATMAN" or name.lower()=="black widow" or name.upper()=="BLACK WIDOW":
        print(f"Hello {name}!")
    else:
        print("no hello for you")

hello('bAtman')
hello('blAck widow')
hello('Aqua Man')

# Your solution here

Hello bAtman!
Hello blAck widow!
no hello for you

## Exercise 3 :  Look for help to replace

In [25]:
txt='The Joker lives in Gotham City'
x=txt.replace('The Joker','Batman')

print('The Joker lives in Gotham City')
print(x)


# must assign a variable to the text replacement

The Joker lives in Gotham City
Batman lives in Gotham City